[Unit]
Description=SNMP Exporter service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/snmp_exporter -config.file /usr/local/bin/snmp.yml

[Install]
WantedBy=multi-user.target
